.courseCardInfo {
    /* display: flex; */
    align-items: center; 
    padding: 0 0 2em 0;
    gap: 10px;
    background-color: #f0f1ff;
    border-radius: 15px;
}

.courseCardText {
    grid-row: span 3;
    display: grid;
    grid-template-rows: subgrid;
    text-align: center;
    color: #242424;
}

img {
    aspect-ratio: 19/10;
    object-fit: cover;
    border-radius: 15px 15px 0 0;
}

